torch==2.4.0+cu118
torchvision==0.19.0+cu118
astropy==6.1.7
opencv-python==4.11.0.86
imageio
pandas==2.2.3
photutils
tqdm==4.67.1
einops==0.8.1
lpips==0.1.4
sep==1.4.1
scikit-image
timm==1.0.14
numpy==2.2.6
scipy==1.15.2
shapely