astropy==6.1.7
scipy==1.15.2
imageio==2.37.0
torch==2.4.0+cu118
tqdm==4.67.1
einops==0.8.1
lpips==0.1.4
matplotlib==3.10.0
sep==1.4.1
timm==1.0.14
torchvision==0.19.0+cu118
pandas==2.2.3
numpy==2.2.6
opencv-python
importlib
math
skimage
json
photutils
os
shapely